<template>
  <q-page>
      <div class="controls-wrapper row justify-center full-width">
        <div class="row flex items-center" v-show="cursorHovered">
          <div class="inline flex items-center">
            <q-btn
              v-show="tracksStore.current.canLike"
              icon="favorite"
              round
              color="white"
              size="md"
              flat
              padding="xs"
              @click="likeCurrentTrack"
              :loading="tracksStore.isLikeTrackLoading"
              :disable="isLikeTrackButtonDisabled"
            />
            <q-btn
              v-show="tracksStore.current.canDislike"
              icon="heart_broken"
              round
              color="white"
              size="md"
              flat
              padding="xs"
              @click="dislikeCurrentTrack"
              :loading="tracksStore.isDislikeTrackLoading"
              :disable="isDislikeTrackButtonDisabled"
            />
          </div>
          <div class="inline flex items-center q-pl-md">
            <q-btn
              icon="fast_rewind"
              round
              color="white"
              size="md"
              flat
              padding="xs"
              @click="requestPrevTrack"
              :loading="tracksStore.isPrevTrackLoading"
              :disable="isPrevTrackButtonDisabled"
            />
            <q-btn
              :icon="playPauseIconComputed"
              round
              color="white"
              size="md"
              flat
              padding="xs"
              @click="changeIsPlaying"
              :loading="audioStore.isTrackLoading"
            />
            <q-btn
              icon="fast_forward"
              round
              color="white"
              size="md"
              flat
              padding="xs"
              @click="requestNextTrack"
              :loading="tracksStore.isNextTrackLoading"
              :disable="isNextTrackButtonDisabled"
            />
          </div>
          <div class="inline flex items-center q-pl-md">
            <q-slider
              class="volume-slider"
              v-model="this.volume"
              :min="0"
              :max="100"
              :step="1"
              color="white"
              track-size="2px"
              thumb-size="16px"
              dense
              @update:model-value="setIsVolumeSliderChanging(true)"
              @change="setIsVolumeSliderChanging(false)"
            />
            <q-icon
              class="q-pl-md"
              :name="volumeIconComputed"
              round
              color="white"
              size="xs"
              flat
              padding="xs"
            />
          </div>
        </div>
        <div v-show="!cursorHovered" class="flex items-center author-and-track-name full-width">
          <div class="ellipsis full-width text-white text-center">
            <span>{{ nameComputed }}</span>
          </div>
        </div>
        <div class="row flex items-center full-width slider-wrapper">
          <div class="row justify-between full-width">
            <q-badge
              color="white"
              :multi-line="false"
              text-color="background"
            >
              {{ currentTime }}
            </q-badge>
            <q-badge
              color="white"
              :multi-line="false"
              text-color="background"
            >
              {{ durationTime }}
            </q-badge>
          </div>
          <q-slider
            class="full-width q-pt-sm"
            :min="0"
            :max="this.tracksStore.current.duration"
            :step="1"
            color="white"
            v-model="currentPosition"
            dense
            track-size="2px"
            thumb-size="16px"
          />
        </div>
    </div>
  </q-page>
</template>

<script>
import { getTimeStringFromSeconds } from 'src/helpers/date-time-helper'
import { setVolume, setCurrentTime, changeIsPlaying } from 'src/facades/audio'
import { useTracksStore } from 'src/stores/track-store'
import { usePlaylistsStore } from 'src/stores/playlists-store'
import { useAudioStore } from 'src/stores/audio-store'
import { requestNextTrack, requestPrevTrack, likeCurrentTrack, dislikeCurrentTrack } from 'src/facades/tracks'
import initMiniPlayer from 'src/services/init-mini-palyer'
import i18n from 'common/i18n'
import { useAppStore } from 'src/stores/app-store'

export default {
  name: 'MiniPlayerPage',
  data() {
    return {
      tracksStore: useTracksStore(),
      playlistsStore: usePlaylistsStore(),
      audioStore: useAudioStore(),
      appStore: useAppStore(),
    }
  },
  props: [
    'cursorHovered'
  ],
  computed: {
    playPauseIconComputed() {
      return this.audioStore.isPlaying ? 'pause' : 'play_arrow'
    },
    volumeIconComputed() {
      if(this.volume > 75) {
        return 'volume_up'
      }

      if (this.volume > 30) {
        return 'volume_down'
      }

      if (this.volume > 0) {
        return 'volume_mute'
      }

      return 'volume_off'
    },
    currentTime() {
      return getTimeStringFromSeconds(this.audioStore.currentTime)
    },
    durationTime() {
      return getTimeStringFromSeconds(this.tracksStore.current.duration)
    },
    nameComputed() {
      if (!this.tracksStore.current.name) {
        return this.$t('No connection to server')
      }

      return this.tracksStore.current.name
    },
    currentPosition: {
      get() {
        return this.audioStore.currentTime
      },
      set(value) {
        setCurrentTime(value)
      }
    },
    volume: {
      get() {
        return this.audioStore.volume
      },
      set(level) {
        setVolume(level)
      }
    },
    localeId() {
      return this.appStore.localeId
    },
    isLikeTrackButtonDisabled() {
      return this.tracksStore.isDislikeTrackLoading
    },
    isDislikeTrackButtonDisabled() {
      return this.tracksStore.isLikeTrackLoading
    },
    isPrevTrackButtonDisabled() {
      return this.tracksStore.isNextTrackLoading
    },
    isNextTrackButtonDisabled() {
      return this.tracksStore.isPrevTrackLoading
    }
  },
  methods: {
    changeIsPlaying() {
      changeIsPlaying()
    },
    requestNextTrack() {
      return requestNextTrack()
    },
    requestPrevTrack() {
      return requestPrevTrack()
    },
    likeCurrentTrack() {
      likeCurrentTrack()
    },
    dislikeCurrentTrack() {
      dislikeCurrentTrack()
    },
    setIsVolumeSliderChanging(value) {
      value
        ? this.$emit('block-change-is-cursor-hovered')
        : this.$emit('remove-block-change-is-cursor-hovered')
    }
  },
  async created() {
    initMiniPlayer()
  },
}
</script>

<style lang="scss" scoped>
  .volume-slider {
    width: 64px;
  }
  .slider-wrapper {
    margin-top: -24px;
  }
  .author-and-track-name {
    height: 32px;
  }
  .author-and-track-name > div {
    padding: 0 64px;
  }
</style>
