<template>
  <q-layout view="hHh Lpr fFf">
    <q-page-container class="min-height-inherit">
      <div
        class="container min-height-inherit"
        @mouseover="this.setIsCursorHovered(true)"
        @mouseleave="this.setIsCursorHovered(false)"
      >
        <router-view
          v-show="!isDragAndDropMode"
          :cursor-hovered="cursorHovered"
          class="q-py-sm q-px-md min-height-inherit"
          @block-change-is-cursor-hovered="isCursorHoveredBlock = true"
          @remove-block-change-is-cursor-hovered="isCursorHoveredBlock = false"
        />
        <div
          v-show="isDragAndDropMode"
          class="full-width drag flex justify-center items-center min-height-inherit"
        >
          <div class="text-white">{{ $t('Drag the window') }}</div>
        </div>
      </div>
    </q-page-container>
  </q-layout>
</template>
<script>
import { useAppStore } from 'src/stores/app-store'

export default {
  data() {
    return {
      cursorHovered: false,
      //костыль, чтобы при перемещении ползунка громкости не появлялось название трека вместо кнопок
      isCursorHoveredBlock: false,
      appStore: useAppStore(),
    }
  },
  computed: {
    isDragAndDropMode() {
      return this.appStore.isDragAndDropMode
    }
  },
  methods: {
    setIsCursorHovered(value) {
      if (this.isCursorHoveredBlock) {
        return
      }

      this.cursorHovered = value
    },
  },
}
</script>
<style lang="scss" scoped>
  .container {
    border-radius: 10px;
    background: $background;
  }
  .drag {
    -webkit-app-region: drag;
  }
  .min-height-inherit {
    min-height: inherit;
  }
</style>
